*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
  /* border: solid 4px purple; */
}

.container-sidebar {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: start;
  font-family: sans-serif;
  grid-row: 1 / 2;
  gap: 40px;
  /* border: solid 4px green; */
  background-color: #1992d4;
  color: white;
}
.container-nav,
.container-settings {
  display: grid;
  gap: 10px;
}

.container-main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px;
  font-family: sans-serif;
  /* border: solid 4px red; */
  background: #e2e8f0;
}
.container-main-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / 3;
  /* border: solid; */
  background: white;
}
.container-projects {
  margin: 10px;
  grid-row: 2/4;
  /* border: solid; */
  background: red;
}
.container-announce {
  margin: 10px;
  /* border: solid; */
  background: green;
}
.container-trending {
  margin: 10px;
  /* border: solid; */
  background: blue;
}
.search-container {
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-around;
  /* border: solid purple 2px; */
}
.container-links {
  /* border: solid blue 2px; */
}
.search {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 90%;
  padding-left: 20px;
}
.search-icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.search input {
  flex-grow: 1;
  background: #e2e8f0;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 7px 20px;
  outline: none;
  font-size: 14px;
  transition: all 0.2s;
}
.search input:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: transparent;
}
