*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
  /* border: solid 4px purple; */
}

.container-sidebar {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: start;
  font-family: sans-serif;
  grid-row: 1 / 2;
  gap: 40px;
  /* border: solid 4px green; */
  background-color: #1992d4;
  color: white;
}
.container-nav,
.container-settings {
  display: grid;
  gap: 10px;
}

.container-main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  row-gap: 40px;
  font-family: sans-serif;
  /* border: solid 4px red; */
  background: #e2e8f0;
}
.container-main-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / 3;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.07);
  /* border: solid; */
  background: white;
}
.container-projects {
  margin: 10px;
  grid-row: 2/4;
  /* border: solid; */
  background: red;
}
.container-announce {
  margin: 10px;
  /* border: solid; */
  background: green;
}
.container-trending {
  margin: 10px;
  /* border: solid; */
  background: blue;
}
.search-container {
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-around;
  padding-left: 40px;

  /* border: solid purple 2px; */
}
.container-links {
  border: solid blue 2px;
}
.search label {
  display: none;
}
.search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
  width: 95%;
  
}
.search-icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.search input {
  background: #e2e8f0;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 6px 20px;
  outline: none;
  font-size: 14px;
  transition: all 0.2s;
}
.search input:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: transparent;
}
.user-container {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 20px;
}
.user-logo {
    height: 64px;
    width: 64px;
}
.username p {
    font-weight: bold;
}